<center>
<img src="images/ods_stickers.jpg" />
    
## Introducción al Machine Learning

Basado en material de  [Yury Kashnitsky](https://yorko.github.io). Traducido y editado al español por [Ana Georgina Flesia](https://www.linkedin.com/in/georginaflesia/). Este material esta sujeto a los términos y condiciones de la licencia  [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Se permite el uso irrestricto para todo propósito no comercial.

# <center> Ejercicio 1. Análisis exploratorio con Pandas

<img src="images/pandas.jpg"  width=50% />

**1. Cuantas mujeres y hombres (variable *sex* ) estan representadas en este dataset?**

(a) 21790 hombres y 10771 mujeres

(b) 16346 hombres y 12532 mujeres

(c) 21790 mujeres y 10771 hombres

(d) 16346 mujeres y 12532 hombres

**Su respuesta**

**2. Cual es la edad promedio (variable *age* ) de las mujeres?**

(a) 34.67

(b) 35.95

(c) 36.86

(d) 37.04

**Su respuesta**

**3. Cual es el porcentaje de ciudadanos alemanes (variable *native-country*)?**

(a) 1.13

(b) 0.42

(c) 1.42

(d) 0.36

**Su respuesta**

**4. Cuales son la media y la desviacion estandard de la edad para aquellos que ganan mas de 50k por año (variable *salary*) ?**

(a) 45 +- 9.5 years

(b) 42 +- 11.5 years

(c) 41 +- 12.5 years

(d) 44 +- 10.5 years

**Su respuesta**

**5. Cuales son la media y la desviacion estandard de la edad para aquellos que ganan menos de 50k por año (variable *salary*) ?**

(a) 37 +- 14 years

(b) 38 +- 14 years

(c) 39 +- 15 years

(d) 40 +- 15 years

**Su respuesta**

**6. Es cierto que la gente que gana mas que 50K tiene al menos educacion media completa? (variable *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate*)**

(a) Si

(b) No

**Su respuesta**

**7. Muestre los estadisticos para cada raza (*race* feature) y cada género (*sex* feature). Use *groupby()* y *describe()*. Encuentre la edad maxima de los hombres de la raza *Amer-Indian-Eskimo* .**

(a) 78

(b) 82

(c) 87

(d) 88

**Su respuesta**

**8. De las siguientes categorías, cual es la que tiene la mayor proporcion de ricos (>50K): married or single men (variable *marital-status*)? Considere como casados  aquellos que tienen *marital-status* comenzando por *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), el resto son bachelors.**

(a) entre los casados

(b) entre los solteros

**Su respuesta**

**9. Cual es el máximo de horas que una persona trabaja por semana? (variable *hours-per-week*)? Cuantas personas trabajan ese numero de horas y cual es el porcentaje entre esas personas que ademas ganan mucho (>50K) ?**

(a) 102 hora/semana, 20 personas, 41% son ricas

(b) 99 hora/semana, 95 personas, 30% son ricas

(c) hora/semana, 85 personas, 29% son ricas

(d) 90 hora/semana, 70 personas, 34% son ricas

**Su respuesta**

**10. Cuente el numero de horas de trabajo (*hours-per-week*) de aquellos que ganan poco, y de los que ganan mucho (*salary*) para cada pais (*native-country*). Cuales son esos conteos para Japon?**

(a) 41 y 48

(b) 46 y 43

(c) 44 y 48

(d) 41 and 40

**Su respuesta**